@import "bootstrap.min.css";

body{
    background: url("../img/bg.jpg");
}
.main_container:before{
    content: '';
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
}
.no_padding{
    padding: 0;
}
.main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
}
.main h1{
    font-size: 3em;
}
span.navbar-brand.phone {
    color: #fff;
    font-size: 22px;
    padding-right: 4em;
}
span.navbar-brand.email {
    color: #fff;
    font-size: 22px;
}
.bgvideo {
    z-index: -10;
    width: 100%;
}
.inner{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 5em;
    padding-bottom: 1em;
}
.inner h3{
    color: rgb(232, 198, 3);
}
.yellow{
    color: rgb(232, 198, 3);
}
.h4, h4{
    font-size: 26px;
}
.inner .btn{
    margin-top: 2em;
    font-size: 2em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    color: #fff;
    border: none;
}
.inner .btn:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131313+0,1c1c1c+9,2b2b2b+24,111111+40,000000+49,2c2c2c+50,474747+61,666666+75,595959+88,4c4c4c+100 */
    background: #131313; /* Old browsers */
    background: -moz-linear-gradient(top, #131313 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #4c4c4c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #131313 0%,#1c1c1c 9%,#2b2b2b 24%,#111111 40%,#000000 49%,#2c2c2c 50%,#474747 61%,#666666 75%,#595959 88%,#4c4c4c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #131313 0%,#1c1c1c 9%,#2b2b2b 24%,#111111 40%,#000000 49%,#2c2c2c 50%,#474747 61%,#666666 75%,#595959 88%,#4c4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */
}
ul{
    list-style-type: none;
    margin-bottom: 4em;
    padding-left: 0;
}

                /* каталог */
.instr_head{
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.83);
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 3em;
}
.instr_head h2{
    margin-top: 2em;
}
.main_block{
    margin-top: 2em;
}
.main_block h4{
    font-size: 18px;
}
.block{
    color: #fff;
    border: 1px solid #4c4c4c;
    background-color: rgba(0, 0, 0, 0.67);
    margin-bottom: 2em;
    padding: 1em;
    min-height: 40em;
}
.main_block .price{
    padding-top: 1em;
    font-size: 2em;
}
.color_brand{
    color: rgb(232, 198, 3);
    font-size: 30px;
}
.img_catalog{
    max-height: 190px;
}
.ul_desc{
    padding-left: 0;
}
/* ================ contacts ================== */
.contacts{
    color: #fff;
}
.ip{
    color: #d1c9d8;
    padding: 1em;
    text-align: center;
}

@media screen and (min-width: 1366px){
    .inner h3{
        font-size: 3em;
    }
    .inner ul li{
        font-size: 2em;
    }
}
@media screen and (max-width: 1366px){
    .inner h3{
        font-size: 2em;
    }
    .inner ul li{
        font-size: 1.5em;
    }
}